/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text-primairy:#111;
	--color-text-secundairy: white;
	--color-background-primairy: white;
	--color-background-secundairy: rgb(19, 19, 19);
	--orange: rgb(202, 80, 8);
	--blue: rgb( 0, 124, 193); ;
	--lightgray: rgb(245, 245, 245);
	--gray:  rgb(118, 118, 118);
	--darkgray: #484848;
	--red:#cf2219;
	--yellow:#fdd524;
	--green:#2a943c;
	--fontsize-p:.875rem;
	--fontsize-h1:1.5rem;
	--fontsize-h2:1.125rem;
	--fontsize-h3:1rem;
	--fontsize-a:.75rem;

}

@font-face {
    font-display: swap;
    font-family: Noto IKEA;
    font-style: italic;
    font-weight: 400;
	src: url(../fonts/noto-ikea-400.latin.63019780.woff2);
}
@font-face {
    font-display: swap;
    font-family: Noto IKEA;
    font-style: italic;
    font-weight: 700;
	src: url(../fonts/noto-ikea-700.latin.7e228297.woff2);
}


/****************/
/* JOUW STYLING */
/****************/

/********************/
/* Algemene styling */
/********************/

body{
	margin: 0;
	top: 0;
	left: 0;

	font-family: Noto IKEA ;
	background-color: var(--color-background-primairy);
	color: var(--color-text-primairy);


}
main{
	padding: 1.25rem;
}
h1{
 font-size: 1.5rem;
}

h2{
	font-size: 1.125rem;
}
h3{
	font-size: 1rem;
}
p{
	font-size: .875rem;
	line-height: 1.571;
}

li{
	list-style: none;
}
a{
	display: inline-flex;
	align-items: center;

	font-weight: 700;
	font-size: .75rem;
	list-style: none;
	text-decoration: none;

	min-height: 2.5rem;
	padding: 0 1.5rem;

	border-radius: 64px;

	background-color:var(--color-background-primairy) ;
	color: var(--color-text-primairy);
}
::-webkit-scrollbar{

	width: 3px;
	height: 2px;
}
::-webkit-scrollbar-track{
	background-color: rgb(210, 209, 209);
	width: 3px;
}

::-webkit-scrollbar-thumb{
	background:var(--color-text-primairy);
}

img{
	width: 100%;
	height: auto;
}
input{
	width: 100%;
	margin: 0 auto;
	border: none;
	font-size: 1rem;
	background-color: var(--lightgray);
	text-align: left;

}
/********************/
/* Algemene styling */
/********************/
/******************/
/* Header styling */
/******************/ 


header{
	/* background-color: lightblue; */
	display: flex;
	flex-direction: column;
	border-bottom: 1px gray solid;
	top: 0;


}
header > div:first-of-type{
	background-color:#111;
	color: var(--color-text-secundairy);
	text-align: left;
	display: flex;
	flex-direction: row;
	align-items: center;
	position: relative;
	padding: 0.25rem 1.25rem;

}
header div:first-of-type svg{
	fill:var(--color-text-secundairy);
}
header div:first-of-type p{
	font-size: .75rem;
	padding-left: .5rem;
}


header nav{
	top: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0 1.25rem;
	margin-top: .5rem;
	margin-bottom: .5rem;
	background-color: var(--color-background-primairy);
}

.fixed{
	top: 0;
	margin-top: 0;
	position: fixed;
	width: 100vw;
	z-index: 2;
}

header nav img{
	min-width: 10%;
	max-width: 35%;
}

header nav ul{
	display: flex;
	align-items: center;
}

header nav ul li{
	padding:0.5rem;

}
header nav ul li a{
	padding: 0;
}
header nav ul li details{
	left: -100vw;
	transition: all 200ms ease;
}

header nav ul li details summary{
	list-style: none;

}

header nav ul li details ul{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

header nav ul li details[open]{
	width: 100vw;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	background: var(--color-background-primairy);
	transition: all 200ms ease;
	overflow-y: scroll;
} 

header nav ul li details[open] summary{
	width: fit-content;
	position: fixed	;
	top: 2em;
	right: 1.5em;
}

header div:nth-of-type(2){
	top: 0;
	margin: 0;
	padding:0;
}

header div:nth-of-type(3), header nav ul li details div{
	display: flex;
	flex-direction: row;
	align-items: center;

	font-size: 1rem;
	height: 3.125rem;
	padding: .5rem;
	margin: 0 1.25rem;

	border-radius: 50em;
	border: none;
	background-color: var(--lightgray);
}

header nav ul li details[open] div{
	margin: 2rem 0 2rem 1rem;
	width: 80vw;
}
header nav ul li details[open] ul{
	border-top: solid 1px var(--gray);
}
header nav ul li details[open] ul:nth-of-type(1){
	font-size: var(--fontsize-h1);
}
header nav ul li details[open] ul:nth-of-type(2){
	font-size: var(--fontsize-h2);
}

header nav ul li details[open] ul:nth-of-type(3){
	font-size: var(--fontsize-h3);
}
header nav ul li details[open] section{
	padding: 1.5rem;
}

header nav ul li details[open] section p{
	font-weight: 700;
}

header nav ul li details[open] section a{
	text-decoration: underline;
	font-weight: 400;
	font-size: var(--fontsize-p);
}
header nav ul li details[open] section p:last-of-type{
	font-weight: 400;
	color: var(--gray);
}

header nav ul li details[open] section div{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: unset;
}
header nav ul li details[open] section div button{
	border: solid 1px var(--color-text-primairy);
	padding: 0 2rem;
	border-radius: 64px;
	min-height: 3.5rem;
	text-align: center;
	font-size: var(--fontsize-p);
	
}

header nav ul li details[open] section div button:nth-of-type(1){
background-color: var(--lightgray);
color: var(--drakgray);
border: unset;
}
header nav ul li details[open] section div button:nth-of-type(2){
	background-color: unset;
}

header > ul{  /* Hoe spreek ik deze specifiek aan en niet de andere ul in de header die daar boven staat. Ik kan deze verplaatsen boven die ul in de css zodat de regels worden overschreven maar ik moet ook een andere manier zijn */
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 0;
	justify-content: space-between;
}

header ul li a{
	display: flex;
	flex-direction: row;
	align-items: center;
}
/******************/
/* Header styling */
/******************/ 

/****************/
/* main styling */
/****************/ 
/* ul 1 */

main > ul{
	display: flex;
	flex-direction: row;
	overflow-x: scroll;
	padding-left: 0;
	margin: 0;
}
main > ul li{
	min-width: max-content;
	
	
}
main > ul li a{
	min-height: 3.5rem;
	padding:  0 2rem;
}

main > ul:nth-of-type(1) li:nth-of-type(1) a{
	background-color: var(--lightgray);
	font-size: var(--fontsize-p);
}



/* section 1 */

main section:first-of-type{
	background-color: var(--color-background-primairy);
}
main h1{
	margin-bottom: 2.5rem;
}

main h1 span{
	color: var(--blue);
}

main section:first-of-type aside{
	display: flex;
	flex-direction: column;
	align-items: center;
}
main section:first-of-type aside p{
	margin: 1rem  0 0 1rem;
}
main section:first-of-type aside h2{
	margin: 0  0 3rem 1rem;
}
main section:first-of-type aside > button{
	margin-top: 3rem;
	border: unset;
	background: unset;
	width: 35%;
}

main section:first-of-type aside > button:active{
	filter: invert();
	transform: scale(1.1);
}

main section:first-of-type aside section{
	position: relative;
	background-color: var(--blue);
	color: var(--color-text-secundairy);
	font-weight: 700;
	border-radius: .5rem;
	display: flex;
	flex-wrap: wrap;
	box-shadow: 0px 4px 16px rgba(0,0,0,.1);

}
main section:first-of-type aside section div{
	display: flex;
	flex-direction: row;
	width: 100%;
	
}

main section:first-of-type aside section div:nth-of-type(1){
	flex-direction: column;
	border-bottom: solid .5rem var(--yellow);
}
main section:first-of-type aside section div:nth-of-type(2){
	background-color:var(--color-background-primairy);
	color: var(--darkgray);
	align-items: flex-end;
	border-bottom-left-radius: .5rem;
	border-bottom-right-radius: .5rem;
	padding-bottom: .5rem;
}
main section:first-of-type aside section div button{
	position: absolute;
	border: none;
	fill: var(--color-text-secundairy);
	background-color: var(--blue);
	right: 5px;
	top: 5px;
}


main section:first-of-type aside section canvas{
	color: black;
}
/* ul 2 */

main > ul:nth-of-type(2) li{
	background-color: var(--lightgray);
	color: var(--color-text-primairy);
	margin-right: .5rem;
	margin-top: 2rem;
	min-height: 12rem;
	min-width: 20rem;
	padding: 1.5rem;
}

main > ul:nth-of-type(2) li a{
	padding: 1rem;
	margin-top: 2rem;
}



/* section 2 */

main section:nth-of-type(2){
	position: relative;
}
main section:nth-of-type(2) section{
	display: flex;
	flex-direction: row;
	overflow-x: scroll;
	overflow-y: hidden;
	height: auto;
}
main section:nth-of-type(2) > article{
	position: relative;
	display: flex;
	flex-direction: column;
	background-color: var(--lightgray);
	border-radius: 0.3rem;

}

main section:nth-of-type(2) > article div:nth-of-type(1) img{
	width: 100%;
	height: 12rem;
	object-fit: cover;
	border-top-left-radius: 0.3rem;
	border-top-right-radius: 0.3rem;
}

main section:nth-of-type(2) > article div:nth-of-type(1) p{
	position: absolute;
	top: 5px;
	right: 5px;
	background-color: var(--color-background-primairy);
	color: var(--color-text-primairy);
	padding: 1rem;
	border-radius: 10rem;
}
main section:nth-of-type(2) > article h3, main section:nth-of-type(2) > article p, main > article ul li *:not(img){
	padding: 0 2rem 0 2rem;
}
main section:nth-of-type(2) > article p a{
	text-decoration: underline;
	background-color: unset;
}

main section:nth-of-type(2) > article div:nth-of-type(2){
	display: flex;
	flex-direction: column;
	align-items: center;
	
}

main section:nth-of-type(2) > article div:nth-of-type(2) a, main > article:nth-of-type(1) ul li a{
	background-color: var(--color-background-secundairy);
	color: var(--color-text-secundairy);
	padding: 0 5rem 0 5rem;
	min-height: 3.5rem;
}
main section:nth-of-type(2) > article div:nth-of-type(2) p{
	text-decoration: underline;
}


main section:nth-of-type(2) section article{
	height: 697px;
	min-width: 315px;
	position: relative;
	margin-right: .75rem;
	line-height: 1.625;

}
main section:nth-of-type(2) section article a{
	border: 0 solid white;
	border-radius: 500em;
	background-color: var(--color-background-primairy);
	padding: 1rem;
	color: black;
}
main section:nth-of-type(2) section article div{
	position: relative;
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	width: auto;
	height: 50%;
}

main section:nth-of-type(2) section article img{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

main section:nth-of-type(2) section article h3{
	margin: 1.5rem 2rem 0 2rem;
	font-size: 1.125rem;
}
main section:nth-of-type(2) section article p{
	margin: 0 2rem 0 2rem;
	font-size: 1rem;
	
}

main section:nth-of-type(2) section article a{
	margin: 1rem 2rem 0 2rem;

}


main section:nth-of-type(2) section article:nth-of-type(1){
	background-color:var(--blue);
	color: var(--color-text-secundairy);

}

main section:nth-of-type(2) section article:nth-of-type(2){
	background-color: var(--lightgray);
	color: black;

}
main section:nth-of-type(2) section article:nth-of-type(2) svg{
	fill: var(--color-background-primairy);
}

main section:nth-of-type(2) section article:nth-of-type(2) a {
	background-color: var(--color-background-secundairy);
}

main section:nth-of-type(2) section article:nth-of-type(3){
	background-color: var(--orange);
	color: var(--color-text-secundairy);

}
main section:nth-of-type(2) section article:nth-of-type(1) h3{
	line-height: 1.778;
}

/* article 1 */
main > article ul{
	display: flex;
	flex-direction: row;
	padding-left: 0;
	overflow-x: scroll;
}
main > article ul li div{
	padding: 2rem;
	display: flex;
	flex-direction: column;
	min-height: calc(100% - 12rem);
	justify-content: space-between;
}
main > article ul li div *{
	margin: 0;
	padding: 0;

}

main > article ul li{
	margin-right: 2rem;
	background-color: var(--lightgray);
	min-height: 34rem;

}

main > article ul li a{
	justify-content: center;
}
/* article 2 */
main > article:nth-of-type(2) svg{
	padding: 0;
}

main > article:nth-of-type(2) ul li{
	min-height: 26rem;
	background-color: var(--color-background-primairy);
}

main > article:nth-of-type(2) ul li img{
	width: 80vw;
}
/* section 3 */


main section:nth-of-type(3) ul{
	display: flex;
	flex-direction: row;
	overflow-x: scroll;
	padding-left: 0;
}
main section:nth-of-type(3) ul li{
	position: relative;
	display: flex;
	justify-content: center;
	margin-right: 1.5rem;
	min-width: calc(309px * (3 / 4));
	height: auto;
}
main section:nth-of-type(3) ul li img{
	height: 100%;
	width: 100%;

	top: 0;
	left: 0;
}
main section:nth-of-type(3) ul li a{
	bottom: 2.5rem;
	position: absolute;

}

main section:nth-of-type(3) ul li:last-of-type{
	background-color: var(--blue);
	color: var(--color-text-secundairy);
	justify-content: flex-start;


} 
main section:nth-of-type(3) ul li:last-of-type > *{
	display: flex;
	padding: auto;
	margin-left: 2rem;
	justify-content: center;
}

main section:nth-of-type(3) ul li:last-of-type h3{
	margin-top: 2rem;
}
main section:nth-of-type(3) ul li:last-of-type a{
	padding: .75rem;
}
/* section 4 */
main section:nth-of-type(4){
	background-color: var(--color-background-primairy);
}

main section:nth-of-type(4) ul{
	display: flex;
	flex-direction: row;
	overflow-x: scroll;
	align-items: center;
	padding-left: 0;
}

main section:nth-of-type(4) ul li{


	display: flex;
	flex-direction: column;
	align-content: space-between;
	justify-content: space-around;
	align-items: center;
	text-align: center;

	margin: .525rem;
	height: 19.2em;
	min-width: 14.4em;

}
main section:nth-of-type(4) ul li h3{
	font-size: 1.75rem;
}

main section:nth-of-type(4) ul li:nth-of-type(1){
	background-color:var(--orange) ;
	color: var(--color-text-secundairy);
}
main section:nth-of-type(4) ul li:nth-of-type(2){
	background-color:var(--blue) ;
	color: var(--color-text-secundairy);
}
main section:nth-of-type(4) ul li:nth-of-type(3){
	background-color:var(--red) ;
	color: var(--color-text-secundairy);
}

main section:nth-of-type(4) ul li:nth-of-type(4){
	background-color:var(--yellow) ;
	color: var(--color-text-primairy);
}
main section:nth-of-type(4) ul li:nth-of-type(5){
	background-color:var(--red) ;
	color: var(--color-text-secundairy);
}
main section:nth-of-type(4) ul li:nth-of-type(6){
	background-color:var(--green) ;
	color: var(--color-text-secundairy);
}


/* section 5 */
main section:nth-of-type(5){
	margin-top: 15vh;
}

main section:nth-of-type(5) p{
	margin-bottom: .75rem;
}


main section:nth-of-type(5) ul li{
	font-size: .875rem;
	list-style:disc;
	margin-top: .75rem;
}

main section:nth-of-type(5) article{
	background-color: var(--darkgray);
	color: var(--color-text-secundairy);
	padding: 2.5rem;
}
main section:nth-of-type(5) article ul li p a{
	padding: 0;
	background-color: var(--darkgray);
	color: var(--color-text-secundairy);
	text-decoration: underline;
}

/* section 6 */
main section:nth-of-type(6) h2{
	margin-top: 3rem;
}
main section:nth-of-type(6) ul{
	display: flex;
	flex-direction: row;
	overflow-x: scroll;
	padding-left: 0;

}

main section:nth-of-type(6) ul li{
	position: relative;
	max-width: max-content;
}
main section:nth-of-type(6) ul li img{
	z-index: 0;

	height: 19.2rem;  /* Deze height en width misch verbeten met min en max om het responsive te maken */
	width: 12.2rem;
	margin-right: 2rem;
}

main section:nth-of-type(6) ul li button{
	position: absolute;
	z-index: 1;
}
main section:nth-of-type(6) ul li button:nth-of-type(1){
	top: 0;
	left: 0;
}
main section:nth-of-type(6) ul li button:nth-of-type(2){
	bottom: 0;
	left: 0;
}


/* section 7 */
main section:nth-of-type(7) h2{
	margin: 3rem 0  3rem 0;
}

main section:nth-of-type(7) ul{
	display: flex;
	flex-direction: row;
	overflow-x: scroll;
	padding-left: 0;
}

main section:nth-of-type(7) ul li{
	height: 19.2rem; /* Deze height en width misch verbeten met min en max om het responsive te maken */
	min-width: 12.2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;

	background-color: var(--lightgray);
	margin-right: 2rem;
	
}

main section:nth-of-type(7) ul li > svg{
	fill: var(--lightgray);
	transform: scale(3);
}

main section:nth-of-type(7) ul li:last-of-type{
	background-color: var(--color-background-secundairy);
	color: var(--color-text-secundairy);
}


/* section 8 */
main section:nth-of-type(8) h2{
	margin: 3rem 0  3rem 0;
}

main section:nth-of-type(8) section{
	position: relative;
}

main section:nth-of-type(8) section ul{
	display: flex;
	flex-direction: row;
	overflow-x: scroll;
	padding-left: 0;
}

main section:nth-of-type(8) section ul li{
	margin-right: .75rem;
}

main section:nth-of-type(8) section ul button{

	display: inline-flex;
	align-items: center;

	font-weight: 700;
	font-size: .75rem;
	list-style: none;
	text-decoration: none;

	min-height: 2.5rem;
	padding: 0 1.5rem;

	border-radius: 64px;
	border: none;

	background-color:var(--lightgray) ;
	color: var(--color-text-primairy);

}

main section:nth-of-type(8) section > button{
	position: absolute;
	right: 2rem;
	top: 0;

	display: inline-flex;
	align-items: center;
	justify-content: center;

	font-weight: 700;
	font-size: .75rem;
	list-style: none;
	text-decoration: none;
	box-shadow: 0px 4px 16px rgba(0,0,0,.1);

	min-height: 2rem;
	min-width: 2rem;
	padding: 0;

	border-radius: 10000rem;
	border: none;

	background-color:var(--color-background-primairy) ;
	color: var(--color-text-primairy);
}


main section:nth-of-type(8) > ul{
	display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-column-gap: .75rem;
    grid-row-gap: .75rem;
    grid-auto-flow: row dense;
    grid-auto-rows: 1fr;
	padding-left: 0;
	height: 40em;
	width: 90vw;
	
}

main section:nth-of-type(8) > ul li{
	position: relative;
	min-width: 1px;
	min-height: 1px;
	grid-column: span 2;
	grid-row: span 4;
}
main section:nth-of-type(8) > ul li:nth-of-type(2){
	grid-row: span 3;
}

main section:nth-of-type(8) > ul li button img{
	object-fit: cover;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	color: transparent;
	padding: 0
}
/* back to top en loguit */
main > div:last-of-type  p {
	margin: 2rem 0 2rem 0;
}
main > div:last-of-type > p a {
	padding: 0;
	text-decoration: underline;
	font-weight: 400;
	font-size: var(--fontsize-p);

}

main > div:last-of-type div {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	border-top: solid var(--lightgray) 1px ;
}

main > div:last-of-type div *{
	background-color: unset;
	border: unset;
	font-weight: 700;

}
/****************/
/* main styling */
/****************/ 

/******************/
/* footer styling */
/******************/ 

footer{
	padding-top: 3rem;
	background-color: var(--lightgray);
}
footer > section{
	padding: 0 1rem 0 1rem;
}

footer > section a{
	background-color: var(--color-background-secundairy);
	color: var(--color-text-secundairy);
}

footer > ul{
	display: flex;
	flex-direction: column;
	padding: 0 1rem 0 1rem;
}

footer > ul > li{
	border-top: solid lightgrey;
	padding: 1.5rem 0 1.5rem 0;
}

footer > ul li details summary{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
footer > ul li details svg{
	transition: all ease 200ms;
}
footer > ul li details[open] svg{
	transform: rotate(180deg);
	transition: all ease 200ms;
}

footer > ul li details ul{
	padding-left: 0;
}
footer > ul li details ul li a{
	background-color: unset;
	font-weight: 400;
}

footer div:nth-of-type(1){
	display: flex;
	flex-direction: column;
}


footer div:nth-of-type(1) ul:nth-of-type(1){
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	
}
footer div:nth-of-type(1) ul:nth-of-type(1) li{
	display: flex;
	justify-content: center;
	align-items: center;

	margin-right: 1.25rem;
	border: solid var(--darkgray) 1px;
	border-radius: 64px;
	min-width: 2em;
	min-height: 2em;

}

footer div:nth-of-type(1) ul:nth-of-type(1) li svg{
	fill: var(--darkgray);
}


footer div:nth-of-type(1) ul:nth-of-type(2){
	display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
	padding-left: 0;
	width: 80vw;
	justify-items: center;
	margin-left: 1.2rem;
}
footer div:nth-of-type(1) ul li a{
	display: flex;
	justify-content: center;

	background-color: var(--lightgray);
	padding: 0;

}
footer div:nth-of-type(1) ul:nth-of-type(2) li a{
	width: 3.125rem ; /* Deze height en width misch verbeten met min en max om het responsive te maken */
	height: 2.25rem ;
	border:  solid rgb(180, 178, 178) 1px;
	border-radius: 4px;
	margin: 0 1rem 1rem 0;
}

footer div:nth-of-type(1) ul:nth-of-type(2) li a img{
	min-height: 100%;
	max-width: 100%;
	height: auto;
	width: auto;
}

footer div:nth-of-type(2){
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

footer div:nth-of-type(2) a{
	background-color: unset;
	border: #111 solid 1px;
}
footer div:nth-of-type(2) div{
	display: flex;
	flex-direction: row;
	border-radius: 2rem;
	border: #111 solid 1px;
	align-items: center;
	padding: 0 1.5rem;
}
footer div:nth-of-type(2) div select{
	appearance: none;
	background-color: unset;
	border: unset;
	font-weight: 700;
}

footer div:nth-of-type(3) ul{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding-left: .75rem;
}
footer div:nth-of-type(3) ul li{
	margin-right: 1.25rem;
}
footer div:nth-of-type(3) ul li a{
	color: var(--darkgray);
	padding: 0;
	display: block;
	background-color: var(--lightgray);
}
/******************/
/* footer styling */
/******************/ 



