/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;

}


button.poep{
	color: black;
}


/****************/
/* JOUW STYLING */
/****************/

/* jouw code */
li:nth-of-type(3) p{
	transition: all ease 2s;
  }
  
  li:nth-of-type(3) p.anders {
	background-color: crimson;
	transform: rotate(360deg)
  }
  